extends layout

block content
  html.
  <div class="no-boot">
  <h2>Novel server</h2>
  <p>If you're looking for Novel Microroastery please <a href="http://www.novelroasters.com">click here</a></p>
  </div>
